body {
  overflow: hidden;
}

#canvas_outer {
  width: 960px;
  height: 640px;
  z-index: 0;
  display: block;
  margin: 0 auto;
  padding: 15px;
}

#hud {
  background-color: red;
}

#prog-bar {
  width: 1%;
}

.progress {
  width: 95%;
  margin: 0 auto;
}

#loading h1 {
  color: #fafafa;
  text-align: center;
}

#canvas_inner {
  width: 480px;
  height: 640px;
  margin: 0 auto;
  display: block;
  z-index: 1;
}

#mainMenu {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 2;
  margin: 0;
  display: block;
  margin-left: 180px;
  margin-top: 180px;
  background-color: rgba(0,0,0,0.25);
  font-family: "Lucida Console", normal;
}

#btn_startgame {
  border-style: solid;
  border-color: rgb(0, 194, 0);
  background-color: black;
  color: rgb(0, 194, 0);
  margin-left: 10px;
}

#positions {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
}

#positions h5 {
  color: #fafafa;
  margin-bottom: 1px;
  font-family: "Lucida Console", normal;
}

#mainMenu h1 {
  color: #fafafa;
  text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
               -1px  1px 0 #000,
                1px  1px 0 #000;
   margin-bottom: 20px;
}

.hide {
  display: none;
}

.col-sm-3 {
  overflow: hidden;
}